.main_chat
   .main_chat__header
      .main_chat__header__title
         %p.main_chat__header__title__title-title
            = @group.name
         %p.main_chat__header__title__title-member
            Menber:
            - @group.users.each do |user|
               #{user.name}

      .main_chat__header__edit
         = link_to "Edit", edit_group_path(@group.id), id: 'edit'
   .main_chat__main
      = render @messages
   .form
      = form_for [@group, @message] do |f|
         = f.text_field :content, class: 'form__message', placeholder: 'type a message'
         .form__mask
            = f.label :image, class: 'form__mask__image' do
               = icon('fas', 'image', class: 'icon')
               = f.file_field :image, class: 'hidden'
         = f.submit 'Send', class: 'form__submit'